.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;
    justify-self: start;
  }
  &__right {
    display: flex;
    align-items: center;
    justify-self: end;
  }
}